.fc-content {
	 font-size: 12px  !important;
}

.fc-event-container {
	font-size: 12px !important;
}

.fc {
	font-size: 12px  !important;
}

.letras-maiusculas {
	text-transform: uppercase;
}

.outraEmpresa {
	background-color: #FFF8DC !important;
	background-image: none !important;
	color: #000000 !important;
}

.ui-inplace-save {
	width: 10% !important;
}

.ui-inplace-cancel {
	width: 10% !important;
}

.ui-rowgroup-toggler-icon {
	display: none;
}