.fc-content {
	font-size: 10px !important;
}

.info-box-number {
	font-size: 30px !important;
}

.fc-event-container {
	font-size: 10px !important;
}

.fc {
	font-size: 10px !important;
}

.letras-maiusculas {
	text-transform: uppercase;
}

.outraEmpresa {
	background-color: #FFF8DC !important;
	background-image: none !important;
	color: #000000 !important;
}

.ui-inplace-save {
	width: 10% !important;
}

.ui-inplace-cancel {
	width: 10% !important;
}

.ui-rowgroup-toggler-icon {
	display: none;
}

.ui-datatable .ui-datatable-data .even-row td {
	background-color: #d9e1f4 !important;
	color: rgb(0, 0, 0) !important;
}

/*.ui-datatable .ui-datatable-data .even-row td:hover {	background-color: #ffcc99 !important;	color: rgb(0, 0, 0) !important;}*/

/*.ui-datatable .ui-datatable-data .odd-row td:hover  {	background-color: #ffcc99 !important;	color: rgb(0, 0, 0) !important;}*/
.ui-datatable .ui-datatable-data .odd-row td {
	background-color: #F4FCFE !important;
	color: rgb(0, 0, 0) !important;
}

.ui-datatable .ui-datatable-data .even-row-center td {
	background-color: #d9e1f4 !important;
	color: rgb(0, 0, 0) !important;
}

.ui-datatable .ui-datatable-data .odd-row-center td {
	background-color: #F4FCFE !important;
	color: rgb(0, 0, 0) !important;
}

.ui-datatable .ui-datatable-data .even-row-center span {
	background-color: #d9e1f4 !important;
	text-align: left !important;
	color: rgb(0, 0, 0) !important;
}

.ui-datatable .ui-datatable-data .odd-row-center span {
	background-color: #F4FCFE !important;
	color: rgb(0, 0, 0) !important;
}

