/*
 * Skin: Black
 * -----------
 */
/* skin-black navbar */
.skin-black-light .main-header {
  border-bottom: 1px solid #d2d6de;
}
.skin-black-light .main-header .navbar-toggle {
  color: #333;
}
.skin-black-light .main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #d2d6de;
}
.skin-black-light .main-header .navbar {
  background-color: #ffffff;
}
.skin-black-light .main-header .navbar .nav > li > a {
  color: #333333;
}
.skin-black-light .main-header .navbar .nav > li > a:hover,
.skin-black-light .main-header .navbar .nav > li > a:active,
.skin-black-light .main-header .navbar .nav > li > a:focus,
.skin-black-light .main-header .navbar .nav .open > a,
.skin-black-light .main-header .navbar .nav .open > a:hover,
.skin-black-light .main-header .navbar .nav .open > a:focus,
.skin-black-light .main-header .navbar .nav > .active > a {
  background: #ffffff;
  color: #999999;
}
.skin-black-light .main-header .navbar .sidebar-toggle {
  color: #333333;
}
.skin-black-light .main-header .navbar .sidebar-toggle:hover {
  color: #999999;
  background: #ffffff;
}
.skin-black-light .main-header .navbar > .sidebar-toggle {
  color: #333;
  border-right: 1px solid #d2d6de;
}
.skin-black-light .main-header .navbar .navbar-nav > li > a {
  border-right: 1px solid #d2d6de;
}
.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black-light .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #d2d6de;
  border-right-width: 0;
}
.skin-black-light .main-header .logo {
  background-color: #ffffff;
  color: #333333;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #d2d6de;
}
.skin-black-light .main-header .logo:hover {
  background-color: #fcfcfc;
}
@media (max-width: 767px) {
  .skin-black-light .main-header .logo {
    background-color: #222222;
    color: #ffffff;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
  .skin-black-light .main-header .logo:hover {
    background-color: #1f1f1f;
  }
}
.skin-black-light .main-header li.user-header {
  background-color: #222;
}
.skin-black-light .content-header {
  background: transparent;
  box-shadow: none;
}
.skin-black-light .wrapper,
.skin-black-light .main-sidebar,
.skin-black-light .left-side {
  background-color: #f9fafc;
}
.skin-black-light .main-sidebar {
  border-right: 1px solid #d2d6de;
}
.skin-black-light .user-panel > .info,
.skin-black-light .user-panel > .info > a {
  color: #444444;
}
.skin-black-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-black-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-black-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-black-light .sidebar-menu > li:hover > a,
.skin-black-light .sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
}
.skin-black-light .sidebar-menu > li.active {
  border-left-color: #ffffff;
}
.skin-black-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-black-light .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-black-light .sidebar a {
  color: #444444;
}
.skin-black-light .sidebar a:hover {
  text-decoration: none;
}
.skin-black-light .sidebar-menu .treeview-menu > li > a {
  color: #777777;
}
.skin-black-light .sidebar-menu .treeview-menu > li.active > a,
.skin-black-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #000000;
}
.skin-black-light .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-black-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-black-light .sidebar-form input[type="text"],
.skin-black-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-black-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-black-light .sidebar-form input[type="text"]:focus,
.skin-black-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-black-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-black-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-black-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

li.header {
    text-transform: uppercase;
}

.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

ul.dropdown-menu > li.user-header {
      height: auto!important;
}

a#logout {
    color: #3c8dbc!important;
}

.ui-theme {background: url("#{resource['demo/images/themes.png']}") no-repeat top left;display: block;}
.ui-theme.ui-theme-afterdark{ background-position: 0 0; width: 30px; height: 25px; }
.ui-theme.ui-theme-afternoon{ background-position: 0 -75px; width: 30px; height: 25px; }
.ui-theme.ui-theme-afterwork{ background-position: 0 -150px; width: 30px; height: 25px; }
.ui-theme.ui-theme-aristo{ background-position: 0 -225px; width: 30px; height: 27px; }
.ui-theme.ui-theme-black-tie{ background-position: 0 -302px; width: 30px; height: 27px; }
.ui-theme.ui-theme-blitzer{ background-position: 0 -379px; width: 30px; height: 27px; }
.ui-theme.ui-theme-bluesky{ background-position: 0 -456px; width: 30px; height: 27px; }
.ui-theme.ui-theme-bootstrap{ background-position: 0 -533px; width: 30px; height: 26px; }
.ui-theme.ui-theme-casablanca{ background-position: 0 -609px; width: 30px; height: 27px; }
.ui-theme.ui-theme-cruze{ background-position: 0 -686px; width: 30px; height: 25px; }
.ui-theme.ui-theme-cupertino{ background-position: 0 -761px; width: 30px; height: 27px; }
.ui-theme.ui-theme-dark-hive{ background-position: 0 -838px; width: 30px; height: 27px; }
.ui-theme.ui-theme-delta{ background-position: 0 -915px; width: 30px; height: 30px; }
.ui-theme.ui-theme-dot-luv{ background-position: 0 -995px; width: 30px; height: 27px; }
.ui-theme.ui-theme-eggplant{ background-position: 0 -1072px; width: 30px; height: 27px; }
.ui-theme.ui-theme-excite-bike{ background-position: 0 -1149px; width: 30px; height: 27px; }
.ui-theme.ui-theme-flick{ background-position: 0 -1226px; width: 30px; height: 27px; }
.ui-theme.ui-theme-glass-x{ background-position: 0 -1303px; width: 30px; height: 27px; }
.ui-theme.ui-theme-home{ background-position: 0 -1380px; width: 30px; height: 27px; }
.ui-theme.ui-theme-hot-sneaks{ background-position: 0 -1457px; width: 30px; height: 27px; }
.ui-theme.ui-theme-humanity{ background-position: 0 -1534px; width: 30px; height: 27px; }
.ui-theme.ui-theme-le-frog{ background-position: 0 -1611px; width: 30px; height: 27px; }
.ui-theme.ui-theme-midnight{ background-position: 0 -1688px; width: 30px; height: 27px; }
.ui-theme.ui-theme-mint-choc{ background-position: 0 -1765px; width: 30px; height: 27px; }
.ui-theme.ui-theme-omega{ background-position: 0 -915px; width: 30px; height: 30px; }
.ui-theme.ui-theme-overcast{ background-position: 0 -1842px; width: 30px; height: 27px; }
.ui-theme.ui-theme-pepper-grinder{ background-position: 0 -1919px; width: 30px; height: 27px; }
.ui-theme.ui-theme-redmond{ background-position: -80px 0; width: 30px; height: 27px; }
.ui-theme.ui-theme-rocket{ background-position: -80px -77px; width: 30px; height: 27px; }
.ui-theme.ui-theme-sam{ background-position: -80px -154px; width: 30px; height: 27px; }
.ui-theme.ui-theme-smoothness{ background-position: -80px -231px; width: 30px; height: 27px; }
.ui-theme.ui-theme-south-street{ background-position: -80px -308px; width: 30px; height: 27px; }
.ui-theme.ui-theme-start{ background-position: -80px -385px; width: 30px; height: 27px; }
.ui-theme.ui-theme-sunny{ background-position: -80px -462px; width: 30px; height: 25px; }
.ui-theme.ui-theme-swanky-purse{ background-position: -80px -537px; width: 30px; height: 27px; }
.ui-theme.ui-theme-trontastic{ background-position: -80px -614px; width: 30px; height: 27px; }
.ui-theme.ui-theme-ui-darkness{ background-position: -80px -691px; width: 30px; height: 27px; }
.ui-theme.ui-theme-ui-lightness{ background-position: -80px -768px; width: 30px; height: 27px; }
.ui-theme.ui-theme-vader{ background-position: -80px -845px; width: 30px; height: 27px; }
.ui-theme.ui-theme-metroui{ background: url("#{resource['demo/images/metroui.png']}") no-repeat top left; display: block;width: 30px; height: 27px;}

.ui-panelgrid .ui-grid-responsive .ui-grid-row {
	border: none !important;
}
